.footer__menu {
    margin: 92px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .footer__menu {
        margin: 88px auto 0 auto;
    }
}
@media (max-width: 320px) {
    .footer__menu {
        margin: 64px auto 0 auto;
        flex-direction: column;
        justify-content: none;
        align-items: flex-start;
        gap: 48px 0;
    }
}