.cover{
    padding-top: 92px;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    height: 740px;
    overflow: hidden;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .cover {
    height: 640px;
    }
}
@media (max-width: 768px) {
.cover{
    padding-top: 90px;
    height: 480px;
}
}
@media (max-width: 320px) {
.cover{
    padding-top: 66px;
    height: 200px;
}
}


