.cover__overlay {
    max-width: 1184px;
    max-height: 740px;
    background-color: rgba(0,0,0,1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 3;
    transition: opacity 1.2s linear;
}
.cover__overlay:hover {
    opacity: 0.7;
}
@media (max-width: 1024px) {
    .cover__overlay {
        max-height: 640px;
    }
}
@media (max-width: 768px) {
    .cover__overlay {
        max-height: 480px;
    }
}
@media (max-width: 320px) {
    .cover__overlay {
        max-height: 200px;
    }
}