.cover__title{
    margin: 240px auto 32px auto;
    text-align: center;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #FFFFFF;
    position: relative;
    z-index: 5;
}
@media (max-width: 1024px) {
    .cover__title{
        margin: 195px auto 32px auto;
    }
}
@media (max-width: 768px) {
    .cover__title{
        margin: 115px auto 32px auto;
    }
}
@media (max-width: 320px) {
.cover__title{
    margin: 33px auto 16px auto;
    font-size: 32px;
    line-height: 35px;
}
}

