.intro__title {
    margin: 92px auto 0 auto;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .intro__title {
        margin: 88px auto 0 auto;
        font-size: 32px;
        line-height: 35px;
    }
}
@media (max-width: 320px) {
.intro__title {
    margin: 64px auto 0 auto;
    font-size: 32px;
    line-height: 35px;
}
}